@tailwind base;
@tailwind components;
@tailwind utilities;

.mystyle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    top:0;
    left:0;
    background-color: #e6e6e6;
    width:100%;
}